<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <title>Cobaia</title>
    <!-- Bootstrap -->
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" 
        rel="stylesheet">
</head>
<body>
    <h1>Cobaia</h1>

    <nav>
        <a href="index.html" class="btn btn-primary">Home</a>
        <a href="professores.html">Professores</a>
        <a href="sobre.html">Sobre</a>
    </nav>
        
    <div class="main">
        <%- yield %>
    </div>    
    <footer>
        Técnico em Informática para Internet
    </footer>

    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>